#about{
    background-color: rgb(202, 237, 244);
    color: #fff;
  }

  #footer{
    height: 5px;
    width: 100%;
    /* background-color: rgb(202, 237, 244); */
    padding: 7% 15% 15% 15%;
    /* margin-bottom: auto; */
    text-align: center;
  }

  .social-icon{
      margin: 20px 10px;
  }

  @media (max-width: 1028px){
      #title{
          text-align: center;
      }

      .title-image{
          position: static;
          transform: rotate(0);
      }
  }

.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
}

.carousel-item{
  padding: 7% 15%;
}